/* this file is for predictor pages */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.downImg {
    width: 40px;
    filter: invert(1);
}

:root {
    --mainColour: #0a47ef;
    --bgBody: #f5f7fa;
    --bgForm: #ffffff;
    --textPrimary: #212121;
    --textSecondary: #525252;
    --lightBorder: #cfd8dc;
    --blackGlass: #b5b5b5f5;
    --whiteGlass: #fffffff7;
    --primary: #1E88E5;
    --darkBorder: #373737;
    --heading: #000000;
    --black: #000000;
    --white: #ffffff;
}

body {
    background: var(--bgBody);
}

.everything {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/* 

navbar

*/


/* === Base nav styling === */

nav {
    padding: 0 4rem;
    background-color: var(--whiteGlass);
    box-shadow: 0 0 6px 2px var(--textSecondary);
    transition: background-color 0.4s ease;
}

.nav-thing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2vw;
    border-bottom: 1px solid;
    border-bottom-color: var(--darkBorder);
}

nav .logo span {
    font-size: 35px;
    letter-spacing: 3px;
    color: var(--mainColour);
    cursor: pointer;
    font-weight: bold;
}

nav .logo span:hover {
    color: var(--primary);
    transition: color 0.2s ease-out;
}


/* === Desktop menu === */

.nav-menu .desktop-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navList {
    margin-right: 70px;
}

.navList a {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    transition: all 0.2s ease-in;
}

.current-page {
    color: var(--mainColour) !important;
}

.navList a:hover {
    color: var(--mainColour);
}

.nav-menu .desktop-ul li:last-child {
    margin-right: 0;
}


/* === Menu Icon === */

.icon-bar {
    display: block;
    width: 40px;
    height: 3px;
    background: var(--black);
    border-radius: 30px;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

nav .menu-icon {
    display: none;
}

nav .menu-icon * {
    transition: transform 0.4s ease, opacity 0.3s ease;
}

.menu-icon.active {
    margin-top: 8px;
}

.active .bar-1 {
    transform: rotate(45deg) translateY(7px);
}

.active .bar-3 {
    opacity: 0;
}

.active .bar-2 {
    transform: rotate(-45deg) translateY(-7px);
}


/* === Mobile Menu === */

.mobile-ul {
    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease-in-out, opacity 0.4s ease;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--blackGlass);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    gap: 60px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    border-bottom: 4px solid;
}

.mobile-ul span a {
    color: var(--black);
    text-decoration: none;
}

.mobile-ul span a:hover {
    color: var(--primary);
    text-decoration: none;
}

.mobile-ul.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}


/* === Responsive Queries === */

@media screen and (max-width: 1000px) {
    .navList {
        margin-right: 50px;
    }
}

@media screen and (max-width: 900px) {
    nav .nav-menu .desktop-ul {
        display: none;
    }
    nav .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
    }
    nav {
        position: relative;
        z-index: 101;
    }
}

@media screen and (max-width: 550px) {
    .nav-thing {
        padding: 0.8rem 0.8rem;
    }
    nav {
        padding: 0 1.2rem;
    }
}


/* 

foooter

*/

footer {
    background: black;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.footerDetails {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
}

.footerCreator {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}

.icon img {
    width: 35px;
    transition: all 0.4s ease;
}

.icon img:hover {
    width: 40px;
}

.socal {
    width: 80%;
    min-height: 50px;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.creatorsNames {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#team {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#tagLine {
    text-align: center;
    text-wrap: balance;
}

@media screen and (max-width: 800px) {
    footer {
        flex-direction: column-reverse;
        gap: 3rem;
        padding: 3rem 2rem;
    }
    .footerDetails {
        width: 80%;
    }
    .footerCreator {
        width: 85%;
    }
}


/* 

page information and instructions

*/

.page-info {
    padding: 4rem 8vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-info .title {
    font-size: 50px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.instr {
    margin-top: 5rem;
    font-size: 18px;
    color: var(--textSecondary);
    width: 80%;
    font-weight: 500;
    border: 3px solid;
    border-color: var(--mainColour);
    border-radius: 10px 10px 6px 6px;
    outline: none;
    box-shadow: 0 0 6px 2px var(--textSecondary);
}

.instr span {
    width: 100%;
    display: block;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    background-color: var(--mainColour);
}

.instr .detailBox {
    padding: 30px 40px;
}

.info-detail {
    margin-bottom: 12px;
    list-style: disc;
}

.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 0;
}

.read-more a {
    font-size: 20px;
    letter-spacing: 1.2px;
    color: var(--mainColour);
    border: 2px solid;
    border-color: var(--mainColour);
    padding: 8px 25px;
    font-weight: 500;
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.read-more a:hover {
    background-color: var(--mainColour);
    color: var(--white);
}

.info-detail:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 780px) {
    .instr {
        width: 95%;
    }
    .mob-none {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .page-info .title {
        font-size: 40px;
    }
    .instr {
        width: 100%;
    }
    .instr .detailBox {
        padding: 30px 15px;
    }
}