/* this file is for predictor pages */

:root {
    --mainColour: #0a47ef;
    --bgBody: #f5f7fa;
    --bgForm: #ffffff;
    --textPrimary: #212121;
    --textSecondary: #525252;
    --lightBorder: #cfd8dc;
    --blackGlass: #b5b5b5f5;
    --whiteGlass: #fffffff7;
    --primary: #1E88E5;
    --darkBorder: #373737;
    --heading: #000000;
    --black: #000000;
    --gray: #eeeeee;
    --white: #ffffff;
}


/* 

predictor

*/

main {
    padding: 4rem 8vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.form {
    padding: 2rem 25px 5rem;
    width: 95%;
    background: var(--bgForm);
    border-radius: 15px;
    border: 2px solid;
    border-color: var(--lightBorder);
    box-shadow: 0 0 10px 2px var(--textSecondary);
}

.form .toolName {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--textSecondary);
    padding-bottom: 15px;
    font-size: 25px;
    letter-spacing: 1.4px;
    font-weight: 500;
    border-bottom: 2.5px solid;
    border-bottom-color: var(--lightBorder);
    margin-bottom: 40px;
}

.selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 2rem 1rem;
}


/* Modal Styles */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--bgForm);
    margin: 10% auto;
    padding: 50px 40px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: var(--black);
    position: relative;
}

.close {
    position: absolute;
    top: 4px;
    right: 15px;
    font-size: 45px;
    color: var(--textSecondary);
    cursor: pointer;
    &:hover {
        color: var(--black);
    }
}

.search-branch {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid;
    border-color: var(--black);
    border-radius: 5px;
    font-size: 18px;
    margin-top: 12px;
}

.dropdown-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dd-btn {
    padding: 5px 10px;
    background: var(--white);
    color: var(--bgBody);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#dropdown-options {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}

#dropdown-options li {
    padding: 6px 0;
    margin-bottom: 8px;
    cursor: pointer;
    border-bottom: 1px solid;
    border-block-color: var(--textSecondary);
}

#dropdown-options label {
    display: block;
}

#dropdown-options input[type="checkbox"] {
    margin-right: 10px;
}

.branches-type-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.allSeprate,
.allCommon {
    width: 48%;
}

.allCommon {
    padding-left: 20px;
    border-left: 2px solid;
    border-left-color: var(--lightBorder);
}

.allCommon .toolName {
    font-size: 21px;
}

#branchType li {
    margin-bottom: 8px;
    border-bottom: 1.2px solid;
    padding-bottom: 8px;
    border-block-color: var(--textSecondary);
}

#branchType label {
    cursor: pointer;
}

#branchType li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

#branchType li input[type="checkbox"] {
    margin-right: 10px;
}


/* 

form input

*/

.ib {
    position: relative;
    display: inline-block;
    width: 40%;
    min-width: 260px;
    cursor: pointer;
}

.cb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--textSecondary);
    gap: 12px;
}

.gender-box label {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.dropdown-toggle {
    background-color: transparent;
    border: 1.5px solid;
    border-color: var(--darkBorder);
    border-radius: 5px;
    color: var(--black);
    padding: 15px;
    letter-spacing: 1.8px;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.downImg {
    width: 15px;
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 1;
}

.selection-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px 25px 15px 15px;
    border: 1.5px solid;
    border-color: var(--darkBorder);
    color: var(--textSecondary);
    background-color: transparent;
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    width: 100%;
    position: relative;
    z-index: 2;
}


/* rank */

.rank-container {
    position: relative;
    padding: 0;
    width: 40%;
    font-size: 18px;
    min-width: 260px;
    outline: none;
    background-color: transparent;
}

.rank {
    width: 100%;
    outline: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--textSecondary);
    border: 1.2px solid;
    border-color: var(--black);
    border-radius: 5px;
    transition: 0.5s;
    position: relative;
    z-index: 2;
}

.enter-rank {
    position: absolute;
    left: 0;
    font-size: 18px;
    color: var(--textSecondary);
    padding: 15px;
    transition: 0.5s;
    z-index: 1;
}

.rank-container input:valid,
.rank-container input:focus {
    background: transparent;
}

.rank-container input:valid~span,
.rank-container input:focus~span {
    color: var(--mainColour);
    transform: translateX(10px) translateY(-8px);
    font-size: 15px;
    padding: 0 10px;
    background-color: var(--bgForm);
    border-left: 1.5px solid;
    border-left-color: var(--mainColour);
    border-right: 1.5px solid;
    border-right-color: var(--mainColour);
    letter-spacing: 1px;
    z-index: 3;
}

.rank-container input:valid,
.rank-container input:focus {
    border: 1.2px solid;
    border-color: var(--mainColour);
    outline: var(--mainColour);
}


/* submit form */

.btn-box {
    width: 90%;
    display: flex;
    gap: 40px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.btn {
    width: 30%;
    min-width: 200px;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 8px;
    border: 2px solid;
    border-color: var(--mainColour);
    outline: none;
    background-color: transparent;
    color: var(--mainColour);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--mainColour);
        color: var(--white);
    }
}


/* branch model select all diselect all btn */

.dd-btn {
    margin-top: 15px;
    width: 48%;
    padding: 10px;
    color: var(--mainColour);
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 1px;
    border: 2px solid;
    border-color: var(--mainColour);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.dd-btn:hover {
    background-color: var(--mainColour);
    font-weight: bold;
    color: var(--bgBody);
}


/* 

table

*/

.table-container {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 6rem;
    max-width: 92vw;
}

table {
    border-collapse: collapse;
    font-size: 18px;
    text-transform: capitalize;
    overflow: hidden;
    width: 100%;
    min-width: 650px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 6px 1px var(--darkBorder);
}

table thead tr {
    background-color: var(--mainColour);
    color: var(--white);
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid;
    border-bottom-color: var(--darkBorder);
}

table tbody tr:nth-last-of-type(even) {
    background-color: var(--gray);
}

table tbody tr:nth-last-of-type(odd) {
    background-color: var(--white);
}

table tbody tr:last-of-type {
    border-bottom: 5px solid;
    border-block-color: var(--mainColour);
}

.btn-more {
    width: 10rem;
    padding: 10px 8px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid;
    border-color: var(--mainColour);
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    color: var(--mainColour);
    transition: all 0.4s ease;
}

.btn-more:hover {
    background-color: var(--mainColour);
    color: var(--bgBody);
    font-weight: bold;
}


/* 

responsive

*/

@media screen and (max-width: 1050px) {
    .type {
        width: 60%;
    }
}

@media screen and (max-width: 930px) {
    .cb {
        width: 60%;
    }
    .branch-container {
        width: 80%;
    }
}

@media screen and (max-width: 840px) {
    .table-container {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 780px) {
    .instr {
        width: 95%;
    }
    .mob-none {
        display: none;
    }
    .ib {
        flex-grow: 1;
    }
    .branches-type-box {
        flex-direction: column;
    }
    .allSeprate,
    .allCommon {
        width: 100%;
    }
    .allCommon {
        padding: 15px 0;
        border-top: 2px solid;
        border-color: var(--darkBorder);
        margin-top: 20px;
        border-left: none;
    }
}

@media screen and (max-width:660px) {
    .btn-box .btn {
        flex-grow: 1;
    }
    .modal-content {
        padding: 40px 25px;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 3rem 6vw;
    }
    .table-container {
        max-width: 94vw;
    }
    table {
        font-size: 16px;
    }
    .dd-btn {
        padding: 10px 8px;
        font-size: 16px;
        letter-spacing: 0.8px;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .page-info .title {
        font-size: 40px;
    }
    .instr {
        width: 100%;
    }
    .instr .detailBox {
        padding: 30px 15px;
    }
    .info-detail {
        margin-bottom: 12px;
        padding-bottom: 10px;
        list-style: none;
        border-bottom: 1.2px solid;
        border-bottom-color: var(--darkBorder);
    }
}


/* 

print

*/

@media print {
    #nav,
    #form,
    footer,
    .adsbygoogle,
    .ad-container,
    .google-ad,
    [id*="ad"],
    [class*="ad"] {
        display: none !important;
    }
    #print-user-info,
    #print-credit {
        display: block !important;
    }
    @page {
        size: A4 landscape;
    }
}

#print-user-info,
#print-credit {
    display: none;
}